<!DOCTYPE html>
<html>
<head>

</head>

<body style="font-family: sans-serif;">
<div id="container">
	<h2>Showing selected content</h2>

	<p>
		Title :- <%= @article.title %>
	</p>

	<p>
		Description :- <%= @article.description %>
	</p>
</div>
</body>
</html>