<div id="container">
	<header class="center jumbotron">
		<h1 id="header">TOURISTEN</h1>
		<%= link_to "Sign Up Now", "#", class: "btn btn-lg btn-primary" %>
	</header>

	<article id="main-article">

	<%= link_to 'About Us', about_path %> 
	</article>

</div>
<hr/>

<footer id="footer">
	<p>
	<small>
		All rights reserved &copy;Arun Pottekat
	</small>
	</p>
</footer>
