<div id="container">
	<header class="center jumbotron">
		<h1 id="header">TOURISTEN</h1>
	</header>
	<div align="center">
		<%= link_to "Sign Up Now", signup_path, class: "btn btn-xlarge btn-primary" %>
	</div>
</div>
