$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight:bold;
}

#logo:hover{
	text-decoration:none;
}

.center{
	text-align: center;
}

#header::first-letter{
	font-size: 130%;
}