$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight:bold;
}

#logo:hover{
	text-decoration:none;
}

.center{
	text-align: center;
}

#header::first-letter{
	font-size: 120%;
}

.jumbotron{
	margin-top:5%;
	background-image: asset-url('touristen-cover.jpg');
	background-size: cover;
	width: 100%;
    height: auto;
}

.jumbotron h1{
	color: #000;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge{
	positon: absolute;
	font-size: 170%;
	background: #000;
}

.btn-xlarge:active{
	top: 1px;
}

.footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.footer:hover{
	color: #222;
}

.footer small{
	float:left
}

.footer nav ul{
	float: right;
	list-style: none;
}

.footer nav ul li{
	float: left;
	margin-left: 15px;
}

.article-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description{
	margin-top: 0;
}

.article-title{
	font-weight: bold;
	font-size: 170%;
}

.article-body{
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

.article-meta-details{
	border-top: 1px solid #eaeaea;
	margin-top: 15px;
}

.listing{
	list-style: none;
	padding-left: 0;
}