<div class="container">
	<footer class="footer">
	<p>
		<small>
			Copyright &copy;Arun Pottekat
		</small>
	</p>
	<nav>
	<ul>
		<li>
			<%= link_to "About Us", about_path %>
		</li>
	</ul>
	</nav>
	</footer>
</div>